/* Definições de cores para o tema claro e escuro */
:root {
    --primary-light: #D4A5A5; /* Tom mais suave do vermelho claro */
    --primary-dark: #5A1F25;  /* Tom mais profundo do vermelho escuro */
    --accent-light: #E8BBAE;  /* Tom suave de pêssego */
    --accent-dark: #480C0D;   /* Tom escuro já definido */
    --background-light: #F7F2EE;
    --background-dark: #202020; /* Um tom escuro para o fundo */
    --text-light: #F7F2EE;
    --text-dark: #000000;
    --jumbotron-dark: #563a3d;
}

body {
    background-color: var(--background-light);
    color: var(--text-dark);
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--primary-light);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 15px;
}

.circle h3 {
    color: var(--text-dark);
    font-size: 24px;
    text-align: center;
}

footer {
    background-color: var(--accent-dark);
    color: var(--text-dark);
}

footer a {
    color: var(--text-dark);
    text-decoration: none;
}

footer a:hover {
    color: var(--primary-dark);
}

footer .social-icons i {
    color: var(--primary-light);
    font-size: 20px;
    margin: 0 10px;
}

footer .social-icons i:hover {
    color: var(--accent-dark);
}

.btn-primary {
    background-color: var(--primary-light);
    color: var(--text-dark);
    border: none;
}

.btn-primary:hover {
    background-color: var(--primary-dark);
    color: var(--text-light);
}

.btn-secondary {
    background-color: var(--accent-dark);
    color: var(--text-light);
    border: none;
}

.btn-secondary:hover {
    background-color: var(--accent-light);
    color: var(--text-dark);
}

#theme-toggle {
    background-color: var(--background-light); /* Cor de fundo desejada */
    border: none; /* Remove a borda padrão do botão */
    color: var(--text-dark); /* Cor do texto ou ícone */
    padding: 1px 10px; /* Ajuste o espaçamento interno conforme necessário */
    border-radius: 99%; /* Adiciona bordas arredondadas, se desejar */
    cursor: pointer; /* Altera o cursor para uma mão ao passar sobre o botão */
}

#theme-toggle:hover {
    background-color: var(--accent-light); /* Cor de fundo ao passar o mouse */
}

#theme-icon {
    font-size: 1rem; /* Ajuste o tamanho do ícone conforme necessário */
}

/* Estilos adicionais para o menu hamburger */
.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu" viewBox="0 0 24 24"><path d="M4 6h16M4 12h16M4 18h16"/></svg>');
}

.navbar-toggler {
    border: none; /* Remove a borda padrão do botão */
    background: transparent; /* Torna o fundo do botão transparente */
}

.navbar-toggler-icon {
    background-size: 30px; /* Ajusta o tamanho do ícone */
}

/* Estilos para a seção de Testemunhos no modo claro */
.testimonial {
    background-color: var(--accent-light); /* Fundo suave de pêssego */
    border-radius: 8px; /* Bordas arredondadas */
    padding: 15px; /* Espaçamento interno */
    margin-bottom: 15px; /* Espaçamento inferior entre os testemunhos */
}

.testimonial p {
    color: var(--text-dark); /* Cor do texto */
}

.testimonial h4 {
    color: var(--primary-dark); /* Cor dos subtítulos */
}

/* Estilo do título da seção */
.testemunhos {
    color: var(--text-dark); /* Cor do título */
    margin-bottom: 20px; /* Espaçamento inferior */
}

/* Estilos para o modo escuro */
.dark-mode {
    background-color: var(--background-dark);
    color: var(--text-light);
}

.dark-mode footer {
    background-color: var(--background-dark);
    color: var(--text-light);
}

.dark-mode footer a {
    color: var(--accent-light);
    text-decoration: none;
}

.dark-mode footer a:hover {
    color: var(--primary-light);
}

.dark-mode footer .social-icons i {
    color: var(--accent-light);
    font-size: 20px;
    margin: 0 10px;
}

.dark-mode footer .social-icons i:hover {
    color: var(--primary-dark);
}

.dark-mode .btn-primary {
    background-color: var(--primary-dark);
    color: var(--text-light);
}

.dark-mode .btn-primary:hover {
    background-color: var(--primary-light);
    color: var(--text-dark);
}

.dark-mode .btn-secondary {
    background-color: var(--accent-dark);
    color: var(--text-light);
}

.dark-mode .btn-secondary:hover {
    background-color: var(--accent-light);
    color: var(--text-dark);
}

.dark-mode .circle {
    background-color: var(--primary-dark);
}

.dark-mode .circle h3 {
    color: var(--text-light);
}

.dark-mode a {
    color: var(--primary-light);
}

.dark-mode a:hover {
    color: var(--accent-light);
}

.dark-mode .card-body {
    background-color: var(--background-dark);
    color: var(--text-light);
}

.dark-mode .card {
    border: 1px solid var(--primary-dark);
}

.dark-mode .jumbotron {
    color: var(--text-light);
    background-color: var(--jumbotron-dark);
}

/* Estilo da barra de navegação no modo escuro */
.dark-mode .navbar-light {
    background-color: var(--background-dark);
    color: var(--text-light);
}

.dark-mode .navbar-light .navbar-brand {
    color: var(--primary-light);
}

.dark-mode .navbar-light .navbar-brand:hover {
    color: var(--text-light);
}

.dark-mode .navbar-light .nav-link {
    color: var(--text-light);
}

.dark-mode .navbar-light .nav-link:hover {
    color: var(--primary-light);
}

.dark-mode .navbar-light .navbar-toggler-icon {
    background-color: var(--text-light);
}

/* Estilo adicional para links ativos */
.dark-mode .navbar-light .nav-link.active {
    color: var(--primary-light);
}

.dark-mode #theme-toggle {
    background-color: var(--background-dark); /* Cor de fundo desejada */
    border: none; /* Remove a borda padrão do botão */
    color: var(--text-light); /* Cor do texto ou ícone */
    padding: 1px 10px; /* Ajuste o espaçamento interno conforme necessário */
    border-radius: 99%; /* Adiciona bordas arredondadas, se desejar */
    cursor: pointer; /* Altera o cursor para uma mão ao passar sobre o botão */
}

.dark-mode #theme-toggle:hover {
    background-color: var(--primary-light); /* Cor de fundo ao passar o mouse */
}

.dark-mode #theme-icon {
    font-size: 1rem; /* Ajuste o tamanho do ícone conforme necessário */
}

/* Ajuste para o modo escuro */
.dark-mode .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu" viewBox="0 0 24 24"><path d="M4 6h16M4 12h16M4 18h16"/></svg>');
}

/* Estilos para a seção de Testemunhos no modo escuro */
.dark-mode .testimonial {
    background-color: var(--primary-dark); /* Fundo escuro */
    border-radius: 8px; /* Bordas arredondadas */
    padding: 15px; /* Espaçamento interno */
    margin-bottom: 15px; /* Espaçamento inferior entre os testemunhos */
}

.dark-mode .testimonial p {
    color: var(--text-light); /* Cor do texto */
}

.dark-mode .testimonial h4 {
    color: var(--accent-light); /* Cor dos subtítulos */
}

/* Ajustes para o modo escuro do título da seção */
.dark-mode .testemunhos {
    color: var(--text-light); /* Cor do título */
}
