/* MUDAR AS CORES */

:root {
    --primary-light: #D4A5A5;
    --primary-dark: #5A1F25; 
    --accent-light: #E8BBAE;
    --accent-dark: #480C0D; 
    --background-light: #F7F2EE;
    --background-dark: #202020;
    --text-light: #F7F2EE;
    --text-dark: #000000;
    --jumbotron-dark: #563a3d;

    --cor1: #771F25;
    --cor2: #AA6C65;
    --cor3: #F7F2EE;
    --cor4: #480C0D;
    --cor5: #E4C9BB;
    --cor6: #000;
}

body {
    background-color: var(--background-light);
    color: var(--text-dark);
}

footer {
    background-color: var(--background-light) !important;
    color: var(--text-dark);
}

footer a {
    color: var(--text-dark);
    text-decoration: none;
}

footer a:hover {
    color: var(--primary-dark);
}

footer .social-icons i {
    color: var(--primary-light);
    font-size: 20px;
    margin: 0 10px;
}

footer .social-icons i:hover {
    color: var(--accent-dark);
}

.btn-primary {
    background-color: var(--jumbotron-dark);
    color: var(--text-light);
    border: none;
}

.btn-primary:hover {
    background-color: var(--primary-dark);
    color: var(--text-light);
}

.btn-secondary {
    background-color: var(--cor2);
    color: var(--text-light);
    border: none;
}

.btn-secondary:hover {
    background-color: var(--primary-dark);
    color: var(--text-light);
}

#theme-toggle {
    background-color: var(--background-light);
    border: none; 
    color: var(--text-dark); 
    padding: 1px 10px; 
    border-radius: 99%; 
    cursor: pointer; 
}

#theme-toggle:hover {
    background-color: var(--accent-light);
}

#theme-icon {
    font-size: 1rem; 
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu" viewBox="0 0 24 24"><path d="M4 6h16M4 12h16M4 18h16"/></svg>');
}

.navbar-toggler {
    border: none; 
    background: transparent; 
}

.navbar-toggler-icon {
    background-size: 30px;
}

.testimonial {
    background-color: var(--accent-light); 
    border-radius: 8px; 
    padding: 15px; 
    margin-bottom: 15px; 
}

.testimonial p {
    color: var(--text-dark);
}

.testemunhos {
    color: var(--text-dark); 
    margin-bottom: 20px;
}

.dark-mode {
    background-color: var(--background-dark);
    color: var(--text-light);
}

.dark-mode footer {
    background-color: var(--background-dark) !important;
    color: var(--text-light);
}

.dark-mode footer a {
    color: var(--accent-light);
    text-decoration: none;
}

.dark-mode footer a:hover {
    color: var(--primary-light);
}

.dark-mode footer .social-icons i {
    color: var(--accent-light);
    font-size: 20px;
    margin: 0 10px;
}

.dark-mode footer .social-icons i:hover {
    color: var(--primary-dark);
}

.dark-mode .btn-primary {
    background-color: var(--primary-dark);
    color: var(--text-light);
}

.dark-mode .btn-primary:hover {
    background-color: var(--primary-light);
    color: var(--text-dark);
}

.dark-mode .btn-secondary {
    background-color: var(--accent-dark);
    color: var(--text-light);
}

.dark-mode .btn-secondary:hover {
    background-color: var(--accent-light);
    color: var(--text-dark);
}

.dark-mode .circle {
    background-color: var(--primary-dark);
}

.dark-mode .circle h3 {
    color: var(--text-light);
}

.dark-mode a {
    color: var(--primary-light);
}

.dark-mode a:hover {
    color: var(--accent-light);
}

.dark-mode .card-body {
    background-color: var(--background-dark);
    color: var(--text-light);
}

.dark-mode .card {
    border: 1px solid var(--primary-dark);
}

.dark-mode .jumbotron {
    color: var(--text-light);
    background-color: var(--jumbotron-dark);
}

.dark-mode .navbar-light {
    background-color: var(--background-dark);
    color: var(--text-light);
}

.dark-mode .navbar-light .navbar-brand {
    color: #fff;
}

.dark-mode .navbar-light .navbar-brand:hover {
    color: var(--text-light);
}

.dark-mode .navbar-light .nav-link {
    color: var(--text-light);
}

.dark-mode .navbar-light .nav-link:hover {
    color: var(--primary-light);
}

.dark-mode .navbar-light .nav-link.active {
    color: var(--primary-light);
}

.dark-mode #theme-toggle {
    background-color: var(--background-dark); 
    border: none; 
    color: var(--text-light);
    padding: 1px 10px; 
    border-radius: 99%;
    cursor: pointer;
}

.dark-mode #theme-toggle:hover {
    background-color: var(--primary-light);
}

.dark-mode #theme-icon {
    font-size: 1rem; 
}

.dark-mode .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu" viewBox="0 0 24 24"><path d="M4 6h16M4 12h16M4 18h16"/></svg>');
}

.dark-mode .testimonial {
    background-color: var(--primary-dark); 
    border-radius: 8px; 
    padding: 15px;
    margin-bottom: 15px;
}

.dark-mode .testimonial p {
    color: var(--text-light);
}

.dark-mode .testimonial h4 {
    color: var(--accent-light)
}

.dark-mode .testemunhos {
    color: var(--text-light);
}

.dark-mode .navbar-toggler-close {
    font-size: 1.5rem; /* Ajusta o tamanho do ícone de X */
    color: #fff; /* Cor do ícone de X */
    transition: opacity 0.2s ease;
}

.dark-mode hr {
    color: #fff;
    background-color: #fff;
}

.dark-mode .espro-info {
    color: var(--accent-light) !important;
    background-color: var(--primary-dark);
}

.dark-mode .espro-info h3 {
    color: var(--accent-light);
}

.dark-mode .espro-info li {
    color: #fff;
}

.dark-mode .espro-info p {
    color: #fff;
}

.dark-mode .espro-block ul li:before {
    color: #fff;
}

.espro-info {
    background-color: var(--accent-light);
    padding: 20px;
    border-radius: 10px;
}